.App {
  display: flex;
  width: 98vw;
  height: 98vh;
}

.app-menuWrapper {
  width: 20%;
  height: 100%;
  /* background-color: black; */
}

.app-menu-top-title {
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #272727;
  /* background-color: black; */
}

.app-container {
  width: 80%;
  height: 100%;
  background-color: rgba(39, 39, 39, 0.2);
  padding: 20px;
}

.app-container-top-title {
  display: flex;
  justify-content: center;
}
