.App {
  display: flex;
  min-width: 1150px;
  /* width: 98vw;
  height: 98vh; */
}

.app-container {
  width: 80%;
  height: 100%;
  /* background-color: rgba(39, 39, 39, 0.2); */
  padding: 20px;
}

.app-container-top-title {
  display: flex;
  justify-content: center;
}

.app-paper {
  padding: 10px;
  margin: 30px;
}

.app-menuWrapper {
  width: 20%;
  height: 100%;
}

.app-menu-top-title {
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #272727;
}

/* for mobile */

.App4m {
  display: flex;
  flex-direction: column;
}

.app4m-menuWrapper {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  font-size: 35px;
}

.app-menu-top-title {
  font-size: 45;
}

.app4m-paper {
  padding: 10px;
  margin: 80px;
}